<%= link_to	 "x", "#", id: "c-l" %>
<div class="search_select_box">
	<select class="w-100" data-live-search="true">
		<option value="usa">United States</option>
        <option value="india">India</option>
        <option value="uk">United Kingdom</option>
	</select>
</div>


